*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
  min-width: 300px;
  max-width: 1920px;
  background-color: #FFF;
  position: relative;
  color: #2a2825;
}

/* fonts */

@font-face {
  font-family: "Roboto-Thin";
  src: url("./fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('./fonts/Roboto-Medium.ttf')
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: "Aperco-Pro";
  src: url('./fonts/Aperco-Pro.ttf');
}

@font-face {
  font-family: "Aperco-Pro-Medium";
  src: url('./fonts/Aperco-Pro-Medium.ttf');
}

@font-face {
  font-family: "Aperco-Pro-Bold";
  src: url('./fonts/Aperco-Pro-Bold.ttf');
}



/* app styling */

.App {
  text-align: center;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
  height: 4240px;
}

.container {
  /*scroll-snap-type: y mandatory;*/
  overflow-y: scroll;

}

* {
  color: white;
  font-family: 'Roboto-Medium';
}