.footer {
    position: relative;
    height: 300px;
    color: #2a2825;
    z-index: 1;
    color: black;
}


li {
    color: rgb(46, 46, 46);
    font-size: 15px;
    text-align: left;
    margin: 5px;
    line-height: 22px;

}

li:hover {
    cursor: pointer;
    color: #818181;
}

h1 {
    color: black;
    font-size: 20px;
}


.list-unstyled_2 {
    position: absolute;
    left: -45px;
    top: 30px;
    color: #3c3c3c;
    font-family: "Aperco-Pro";
    font-size: 15px;
    list-style: none;
    text-align: left;

}

.list-unstyled_3 {
    position: absolute;
    left: -45px;
    top: 23px;
    color: #3c3c3c;
    font-family: "Aperco-Pro";
    font-size: 15px;
    list-style: none;
    text-align: left;
    width: 270px;
    line-height: 5px;
    
}

.footer_address {
    position: relative;
    line-height: 20px;
    top: 7px;
}

.footer_email {
    top: 5px;
    position: relative;
}


.column_2 {
    display: inline-block;
    position: absolute;
    left: 27%;
    top: 10%;
    
}

.column_3 {
    display: inline-block;
    position: absolute;
    left: 38%;
    width: 100px;
    top: 10%;
}

.footer_copyright_text {
    font-family: "Aperco-Pro";
    color: rgb(67, 67, 67);
    position: absolute;
    bottom: 12%;
    left: 13.5%;
}

.footer_logo {
    position: absolute;
    width: 120px;
    left: 15%;
    top: 10%;
}

h2 {
    font-size: 12px;
    color: rgb(67, 67, 67);
    
}

.column_3 h1 {
    text-align: left;
    width: 150px;
}

@media only screen and (max-width: 1500px) {
    .column_2 {
        left: 40%;
    }
    .column_3 {
        left: 60%;
    }
}

@media only screen and (max-width: 1400px) {
    .footer {
        top: 5%;
    }
}

@media only screen and (max-width: 850px) {
    .footer {
        top: 17.5%;
    }
}

@media only screen and (max-width: 700px) {
    .footer {
        top: 20.5%;
    }
}

@media only screen and (max-width: 650px) {
    .footer_logo {
        left: 5%;
    }
    .column_3 {
        left: 65%;
    }
}

@media only screen and (max-width: 550px) {
    .footer {
        top: 18.5%
    }
    .column_2 {
        display: none;
    }
    .column_3 {
        left: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        top: 16%;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        top: 16%;
    }
}