.management {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 850px;
    color: #2a2825;
    z-index: 1;
    text-align: left;
    font-family: 'Aperco-Pro-Bold';

}

.management_title {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
    right: -52%;
    top: 20%;
}

.management_img {
    position: relative;
    width: 440px;
    bottom: 490px;
    left: -40%;
}

.community_management {
    position: relative;
    width: fit-content;
    right: -0.5%;
    top: 30px;
}

.community_management_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.community_management_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}

.growth_management {
    position: relative;
    width: fit-content;
    right: -0.5%;
    margin-top: 80px;
}

.growth_management_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.growth_management_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}

@media only screen and (max-width: 1500px) {
    .management_img {
        left: -60%;
    }
    .management_title {
        left: 60%;
    }
}

@media only screen and (max-width: 1200px) {
    .management_img {
        width: 250px;
        top: -420px;
        left: -50%;
    }
    .management_title {
        left: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .management_title {
        left: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .management_title {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .management_img {
        display: none;
    }
    .community_management {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .growth_management {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .community_management_content {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
    .growth_management_content {
        width: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .management {
        top: 5%;
    }
    .management_title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 530px) {
    .community_management_content {
        width: 250px;
    }
    .growth_management_content {
        width: 250px;
    }
}