.landing {
    height: 850px;
    background-color: #FFF;
    color: #2a2825;
}

.header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

.landing_header_title {
    position: relative;
    left: 12%;
    width: fit-content;
    text-align: left;
    display: inline;
    float: left;
    color: #2a2825;
    letter-spacing: -0.9px;
    top: 45px;
    font-size: 33px;
    font-family: 'Aperco-Pro-Medium';
    line-height: 24px;
}

.landing_header_title:hover {
    cursor: pointer;
}

.landing_header_subtitle {
    position: relative;
    left: -2.8%;
    width: fit-content;
    text-align: left;
    display: inline;
    float: left;
    color: #3c3c3c;
    letter-spacing: -0.75px;
    top: 48%;
    font-size: 16.5px;
    font-family: 'Aperco-Pro';
}

.landing_header_menu {
    position: relative;
    top: 35%;
    right: 12%;
    display: inline;
    float: right;
}

.landing_header_menu li {
    display: inline;
    float: left;
    color: #2a2825;
    letter-spacing: -0.3px;
    font-family: 'Aperco-Pro-Medium';
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.landing_header_menu a {
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
}

.landing_header_menu li:hover {
    color: #c7c7c7;
    cursor: pointer;
}

.landing_header_menu a:hover {
    color: #c7c7c7;
    cursor: pointer;
}

.landing_showcase_wrapper {
    position: relative;
}

.landing_showcase_logo {
    position: relative;
    height: 450px;
    top: 280px;
    right: -16.5%;
}

.landing_showcase_title {
    color: #2a2825;
    font-family: "Aperco-Pro-Medium";
    letter-spacing: -0.3px;
    font-size: 50px;
    position: absolute;
    top: 61%;
    left: 15%;
    width: 650px;
    text-align: left;
    line-height: 55px;
}

.landing_showcase_content {
    position: absolute;
    font-family: "Aperco-Pro";
    color: #3c3c3c;
    letter-spacing: -0.3px;
    font-size: 20px;
    width: 500px;
    line-height: 36px;
    text-align: left;
    left: 15.2%;
    top: 94%;
}

@media only screen and (max-width: 1600px) {
    .landing_showcase_logo {
        right: -30%;
    }
}

@media only screen and (max-width: 1200px) {
    .landing_showcase_logo {
        height: 20%;
        width: 20%;
    }
    .landing_showcase_content {
        top: 120%;
    }
}

@media only screen and (max-width: 1100px) {
    .landing_header_menu li {
        margin-right: -5px;
    }
}

@media only screen and (max-width: 950px) {
    .landing_header_menu {
        left: -5%;
    }
    .landing_header_title {
        left: 5%;
    }
    .landing_header_subtitle {
        left: -25%
    }
    .landing_showcase_content {
        top: 135%;
        left: 7%;
    }
    .landing_showcase_title {
        left: 7%;
    }
}

@media only screen and (max-width: 850px) {
    .header {
        height: 90px;
        position: absolute;
    }
    .landing_header_title {
        transform: translate(0, -140%);
    }
    .landing_header_subtitle {
        transform: translate(0, -120%);
    }
    .landing_showcase_logo {
        width: 40%;
        height: 40%;
        top: 150px;
        left: 0%;
    }
    .landing_showcase_content {
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 190%;
        left: 0;
        right: 0;
    }
    .landing_showcase_title {
        top: 140%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .landing_header_menu {
        display: none;
    }
    .landing_header_subtitle {
        left: -28%
    }
}

@media only screen and (max-width: 650px) {
    .landing_showcase_title {
        font-size: 45px;
        line-height: 60px;
        width: fit-content;
        top: 150%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .landing_showcase_content {
        padding-top: 70px;
    }
    .landing_header_subtitle {
        left: -39%
    }
    .landing_showcase_logo {
        top: 120px;
    }
}

@media only screen and (max-width: 500px) {
    .landing_showcase_content {
        width: fit-content;
        padding: 20px;
        top: 220%;
    }
    .landing_showcase_title {
        width: fit-content;
        padding: 20px;
        font-size: 35px;
        top: 155%;
        line-height: 40px;
    }
    .landing_header_subtitle {
        left: -51%;
    }
}

@media only screen and (max-width: 430px) {
    .landing_showcase_title {
        font-size: 30px;
    }
    .landing_header_subtitle {
        left: -60%
    }
    .landing_showcase_content {
        font-size: 18px;
    }
}

@media only screen and (max-width: 409px) {
    .landing_header_subtitle {
        left: 6%;
        top: 25%;
    }
}