.about {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 900px;
    color: #2a2825;
    z-index: 1;
    text-align: left;
    font-family: 'Aperco-Pro-Bold';

}

.about_img {
    position: absolute;
    width: 45%;
    top: 23%;
    left: 36%;
}
.about_img2 {
    opacity: 0;
    position: absolute;
    width: 45%;
    top: 23%;
    left: 36%;
}

.about_title {
    position: relative;
    left: 14.5%;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
    
}

.about_blockchain {
    position: relative;
    left: 0.5%;
    top: 20px;
}

.about_blockchain_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.about_blockchain_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 18px;
    top: -10px;
}

.about_transparency {
    position: relative;
    left: 0.5%;
    margin-top: 30px;
}

.about_transparency_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
    
}

.about_transparency_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 18px;
    top: -10px;
}

.about_flexible {
    position: relative;
    left: 0.5%;
    margin-top: 50px;
}

.about_flexible_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.about_flexible_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 18px;
    top: -10px;
}

.about_security {
    position: relative;
    left: 0.5%;
    margin-top: 30px;
}

.about_security_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.about_security_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 18px;
    top: -10px;
}

@media only screen and (max-width: 1600px) {
    .about_img {
        left: 60%;
    }
    .about_title {
        left: 0%;
    }
}

@media only screen and (max-width: 1100px) {
    .about_img {
        left: 70%;
    }
    .about_title {
        left: -5%;
    }
}

@media only screen and (max-width: 950px) {
    .about_title {
        left: -7%;
    }
    .about_img {
        left: 75%;
    }
}

@media only screen and (max-width: 850px) {
    .about {
        top: 10%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 7%;
        text-align: center;
    }
    .about_img2 {
        opacity: 1;
        position: absolute;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        top: -45%;
    }
    .about_img {
        display: none;
    }
    .about_blockchain, .about_blockchain_content, .about_flexible, .about_flexible_content, .about_transparency, .about_transparency_content, .about_security, .about_security_content {
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
    }
}

@media only screen and (max-width: 700px) {
    .about_img2 {
        top: -32%;
    }
}

@media only screen and (max-width: 600px) {
    .about_img2 {
        top: -37%;
    }
    .about_blockchain_content, .about_flexible_content, .about_transparency_content, .about_security_content {
        width: 450px;
    }
    .about_title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .about {
        top: 9%;
    }
    .about_img2 {
        width: 70%;
        top: -30%;
    }
    .about_blockchain_content, .about_flexible_content, .about_transparency_content, .about_security_content {
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    .about_blockchain_content, .about_flexible_content, .about_transparency_content, .about_security_content {
        width: 300px;
    }
    .about_img2 {
        top: -25%;
    }
    .about {
        top: 6%;
    }
}