.projects {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height:1350px;
    color: #2a2825;
    z-index: 1;
    text-align: left;
    font-family: 'Aperco-Pro-Bold';
    scroll-snap-align: start;
    left: 3%;
}

.projects_title {
    position: relative;
    left: 14.5%;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
}

.projects_thugcity {
    position: relative;
    left: 20%;
    top: 30px;
}

.projects_thugcity_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
    top: 50px;
    
}

.projects_thugcity_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 450px;
    font-size: 20px;
    top: 60px;
}

.projects_thugcity_img {
    position: relative;
    width: 300px;
    left: 34%;
    bottom: 220px;
}

.projects_thugcity_img1 {
    opacity: 0;
    position: absolute;
    width: 300px;
    left: 34%;
    bottom: 220px;
}

.projects_thugcity_website_button {
    position: relative;
    top: 60px;
    left: 6%;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Aperco-Pro-Medium';
    color: #2e2e2e;
    font-size: 20px;
    background-color: #ededed;
}

.projects_thugcity_website_button:hover {
    cursor: pointer;
}

.projects_w3gp {
    position: relative;
    left: 20%;
    top: -12%;
}

.projects_w3gp_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
    top: 50px;
}

.projects_w3gp_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 450px;
    font-size: 20px;
    top: 60px;
}

.projects_w3gp_img {
    position: relative;
    width: 300px;
    bottom: 220px;
    left: 34%;
}

.projects_w3gp_img1 {
    opacity: 0;
    position: absolute;
    width: 300px;
    bottom: 220px;
    left: 34%;
}

.projects_w3gp_website_button {
    position: relative;
    top: 70px;
    left: 6%;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Aperco-Pro-Medium';
    color: #2e2e2e;
    font-size: 20px;
    background-color: #ededed;
}


.projects_quickchips {
    position: relative;
    left: 20%;
    top: -27%;
}

.projects_quickchips_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
    top: 50px;
}

.projects_quickchips_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 450px;
    font-size: 20px;
    top: 60px;

}

.projects_quickchips_img {
    position: relative;
    width: 150px;
    bottom: 200px;
    left: 38.5%;
}

.projects_quickchips_img1 {
    opacity: 0;
    position: absolute;
    width: 150px;
    bottom: 200px;
    left: 38.5%;
}

.projects_quickchips_website_button {
    position: relative;
    top: 70px;
    left: 6%;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Aperco-Pro-Medium';
    color: #2e2e2e;
    font-size: 20px;;
    background-color: #ededed;
}

@media only screen and (max-width: 1500px) {
    .projects_thugcity_img {
        left: 65%;
    }
    .projects_w3gp_img {
        left: 65%;
    }
    .projects_quickchips_img {
        left: 73%;
    }
    .projects_thugcity {
        left: 5%
    }
    .projects_quickchips {
        left: 5%;
    }
    .projects_w3gp {
        left: 5%;
    }
}

@media only screen and (max-width: 1400px) {
    .projects {
        top: 8%
    }
}

@media only screen and (max-width: 1100px) {
    .projects_thugcity {
        left: -5%;
    }
    .projects_quickchips {
        left: -5%;
    }
    .projects_w3gp {
        left: -5%;
    }
    .projects_thugcity_img {
        left: 70%;
    }
    .projects_quickchips_img {
        left: 80%;
    }
    .projects_w3gp_img {
        left: 70%
    }
}

@media only screen and (max-width: 850px) {
    .projects {
        top: 18%;
    }
    .projects_title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .projects_thugcity_content {
        width: 250px;
    }
    .projects_w3gp_content {
        width: 250px;
    }
    .projects_quickchips_content {
        width: 250px;
    }
    .projects_thugcity_img {
        left: 60%;
    }
    .projects_w3gp_img {
        left: 60%;
    }
    .projects_quickchips_img {
        left: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .projects {
        top: 20%;
    }
}

@media only screen and (max-width: 650px) {
    .projects_thugcity {
        left: -15%;
    }
    .projects_w3gp {
        top: -60px;
        left: -15%;
    }
    .projects_quickchips {
        left: -15%;
        top: -140px;
    }
    .projects_thugcity_img {
        width: 40%;
        bottom: 150px;
        left: 85%;
    }
    .projects_w3gp_img {
        width: 40%;
        bottom: 150px;
        left: 85%;
    }
    .projects_quickchips_img {
        width: 25%;
        bottom: 150px;
        left: 93%;
    }
}

@media only screen and (max-width: 600px) {
    .projects_title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .projects {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 22%;
    }
    .projects_thugcity_title {
        padding-left: 50px;
    }
    .projects_thugcity_img1 {
        opacity: 1;
        position: absolute;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        left: -150px;
        right: 0;
        top: 30px;
    }
    .projects_thugcity_img {
        display: none;
    }
    .projects_w3gp_title {
        padding-left: 50px;
    }
    .projects_w3gp_img1 {
        opacity: 1;
        position: absolute;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        left: -255px;
        right: 0;
        top: -60px;
    }
    .projects_w3gp_img {
        display: none;
    }
    .projects_quickchips_title {
        padding-left: 50px;
    }
    .projects_quickchips_img1 {
        opacity: 1;
        position: absolute;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        left: -180px;
        right: 0;
        top: 25px;
    }
    .projects_quickchips_img {
        display: none;
    }
    .projects_thugcity {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -30px;
    }
    .projects_thugcity_content, .projects_thugcity_website_button {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .projects_w3gp {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 80px;
    }
    .projects_w3gp_title {
        top: -40px;
    }
    .projects_w3gp_content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -30px;
    }
    .projects_w3gp_website_button {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: -30px;
    }
    .projects_quickchips {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 20px;
    }
    .projects_quickchips_content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .projects_quickchips_website_button {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 400px) {
    .projects {
        top: 20%;
    }
}