.process {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 700px;
    color: #2a2825;
    z-index: 1;
    text-align: center;
    font-family: 'Aperco-Pro-Bold';
}

.process_title {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
    top: -10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.process_diagram_wrapper {
    position: absolute;
    height: 500px;
    width: 1600px;
    left: 50%;
    transform: translate(-50%, 0);
}

.process_diagram_img {
    position: absolute;
    left: -15%; 
    width: 130%;
    top: -30%;
}
.process_blue_wrapper, .process_orange_wrapper, .process_green_wrapper, .process_red_wrapper {
    position: absolute;
    width: 255px;
    height: 40%;
    top: 23%;
}
.process_blue_wrapper {left: 11%;}
.process_orange_wrapper {left: 32%;}
.process_green_wrapper {right: 32%;}
.process_red_wrapper {right: 11%;}

.process_diagram_title {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    top: -12%;
    line-height: 30px;
    height: 65px;
}

.process_diagram_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    top: -22%;
    height: 200px;
}

.process_diagram_label {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #ffffff;
    font-size: 40px;
    text-align: left;
    left: 10%;
    top: -20%;
}

@media only screen and (max-width: 1400px) {
    .process_diagram_wrapper {
        width: 1000px;
    }
    .process_blue_wrapper{
        left: 10%
    }
    .process_orange_wrapper{
        left: 64.5%
    }
    .process_green_wrapper{
        top: 120%;
        left: 10%;
    }
    .process_red_wrapper{
        left: 64.5%;
        top: 120%;
    }
} 

@media only screen and (max-width: 1000px) {
    .process_blue_wrapper{
        left: 20%
    }
    .process_orange_wrapper{
        left: 54.5%
    }
    .process_green_wrapper{
        left: 20%;
    }
    .process_red_wrapper{
        left: 54.5%;
    }
}

@media only screen and (max-width: 850px) {
    .process {
        top: 10%;
    }
}

@media only screen and (max-width: 700px) {
    .process {
        height: 1200px;
    }
    .process_title {
        width: 300px;
        left: 50%;
        transform: translate(-50%);
    }
    .process_blue_wrapper, .process_orange_wrapper, .process_green_wrapper, .process_red_wrapper{
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    .process_orange_wrapper{
        top: 120%;
    }
    .process_green_wrapper{
        top: 215%;
    }
    .process_red_wrapper{
        top: 310%;
    }
}

@media only screen and (max-width: 600px) {
    .process_title {
        font-size: 50px;
        
    }
}

@media only screen and (max-width: 500px) {
    .process {
        top: 10%;
    }
}