.process {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 700px;
    color: #2a2825;
    z-index: 1;
    text-align: center;
    font-family: 'Aperco-Pro-Bold';
}

.process_title {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
    top: -10%;
}

.about_diagram_wrapper {
    position: relative;
    height: 500px;
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.about_blue_img, .about_orange_img, .about_green_img, .about_red_img {
    position: absolute;
    width: 20%;
    top: 10%;
}
.about_blue_img {left: 8.5%;}
.about_orange_img {left: 29.5%;}
.about_green_img {right: 29.5%;}
.about_red_img {right: 8.5%;}

.about_blue_wrapper, .about_orange_wrapper, .about_green_wrapper, .about_red_wrapper {
    position: absolute;
    width: 15%;
    height: 40%;
    top: 23%;
}
.about_blue_wrapper {left: 11%;}
.about_orange_wrapper {left: 32%;}
.about_green_wrapper {right: 32%;}
.about_red_wrapper {right: 11%;}

.about_diagram_title {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    top: -12%;
    line-height: 30px;
    height: 65px;
}

.about_diagram_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    top: -22%;
    height: 200px;
}

.about_diagram_label {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #ffffff;
    font-size: 40px;
    text-align: left;
    left: 12%;
    top: -20%;
}