.services {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    height: 2000px;
    color: #2a2825;
    z-index: 1;
    text-align: left;
    font-family: 'Aperco-Pro-Bold';
}

.services_title {
    position: relative;
    left: 14%;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
}

.services_smart_contract {
    position: relative;
    left: 15%;
    top: 30px;
}

.services_smart_contract_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
    
}

.services_smart_contract_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}

.services_frontend_development {
    position: relative;
    left: 15%;
    margin-top: 60px;
}

.services_frontend_development_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
    
}

.services_frontend_development_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}

.services_web3_integration {
    position: relative;
    left: 15%;
    margin-top: 80px;
}

.services_web3_integration_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.services_web3_integration_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}

.service_showcase_img {
    position: absolute;
    width: 500px;
    right: 160px;
}

.management_title {
    position: relative;
    font-family: 'Aperco-Pro-Bold';
    color: #2a2825;
    font-size: 65px;
    right: -52%;
    top: 7.5%;
}

.management_showcase_img {
    position: absolute;
    width: 600px;
    left: -45%;
}

.community_management {
    position: relative;
    width: fit-content;
    right: -1%;
    top: 30px;
}

.community_management_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.community_management_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}

.growth_management {
    position: relative;
    width: fit-content;
    right: -1%;
    margin-top: 80px;
}

.growth_management_title {
    position: relative;
    font-family: 'Aperco-Pro-Medium';
    color: #2a2825;
    font-size: 30px;
}

.growth_management_content {
    position: relative;
    font-family: 'Aperco-Pro';
    color: #3c3c3c;
    width: 500px;
    font-size: 20px;
    top: -10px;
}